---
layout: default
description: "Place for GATE computer science tutorial, previous year question papers."
permalink: /
---

<div class="w3-row w3-padding-left w3-padding-right" style="padding-left: 16px; padding-right: 16px; margin-bottom: 48px;">

    <!-- <div class="w3-col l12 w3-center">
        <h1 id="site-description" style="">{{ site.description }}</h1>
        {% for post in site.posts %}
        {% if post.featured %}
            <h1>{{ post.title }}</h1>
            <img src="{{ site.baseurl }}{{ post.image }}" alt="Alps">
        {% endif %}
        {% endfor %}
    </div> -->

    {% for post in site.posts %}
    <div class="w3-col l4" style="padding-left: 16px; padding-right: 16px; margin-bottom: 48px;">

        <a href="{{ site.baseurl }}{{ post.url }}" title="{{ post.title }}">
            <div class="post-grid w3-round">
                <img class="" src="{{ site.baseurl }}{{ post.image }}" alt="Alps">
                <div class="w3-padding">
                    <h4 class="title">{{ post.title }}</h4>
                    <p class="description">{{ post.description }}</p>
                </div>
            </div>
        </a>


    </div>
    {% endfor %}

</div>