<!DOCTYPE html>
<html>

{% include head.html %}

<body class="">

    <!-- Go to top button -->
    <button onclick="topFunction()" id="go-to-top-button" title="Go to top"><i class="fas fa-arrow-up"></i></button>

    {% include navbar.html %}

    <!-- Page Container -->
    {% if page.url == "/" %}
    <div class="w3-container w3-content" style="max-width:1040px; margin-top: 80px;">
    {% else %}
    <div class="w3-container w3-content" style="max-width:1040px; margin-top: 64px;">
    {% endif %}

        <div class="">

            {{ content }}
            
        </div>

    </div>
    <!-- End Page Container -->
    <br>

    {% include footer.html %}

    <script src="{{ site.baseurl }}/assets/js/main.js"></script>

</body>

</html>