---
layout: default
---

<div class="w3-content" style="max-width:600px; ">
    <img class="w3-round w3-center" src="{{ site.baseurl }}{{ page.image }}" alt=""
        style="box-shadow: 0 15px 35px rgba(50,50,93,0.1),0 5px 15px rgba(0,0,0,0.07) !important;">

</div>

<div id="doc-header">
    <h1 class="w3-center" id="doc-title">{{ page.title }}</h1>
</div>

<hr>
<!-- <ul>
    <li style="display: inline-block; color: #aaa; margin-right: 32px;"><i class="far fa-calendar"></i> {{ page.date | date_to_long_string }}</li>
    <li style="display: inline-block; color: #aaa;">
        <i class="fas fa-tags"></i>
        {% for tag in page.tags %}    
            <span class="label w3-theme-d1" style="margin: 0;">{{tag}}</span>    
        {% endfor %}
    </li>
    <li style="display: inline-block;">{{ page.readtime }}</li>
</ul> -->

<div class="w3-container w3-content" style="max-width:700px;" id="doc-content">
    <div id="table-of-contents">
        <h3>Table of Contents</h3>
        {% toc %}
    </div>

    {{ content }}
</div>